<html lang="en" >
<head>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
</head>
<body ng-app="TestApp" ng-cloak>
  <!--
    Your HTML content here
  -->  
  <div layout="row" flex ng-controller="AppCtrl" style="height:55px;"ng-cloak>
    <md-toolbar class="md-theme-blue">
      <h1 class="md-toolbar-tools">
        <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md><i class="material-icons">menu</i></md-button>
        Dashboard
      </h1>
    </md-toolbar>
  </div>
  <div ng-controller="AppCtrl" flex layout="column" style="height:500px;" ng-cloak>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-theme-blue">
        <h1 class="md-toolbar-tools">Menu Tools</h1>
      </md-toolbar>
      <md-content layout-padding ng-controller="AppCtrl" ng-cloak>
      <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput"
                   ng-model="data" md-autofocus>
          </md-input-container>
        </form>
        <p hide-md show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
        </p>
      </md-content>
    </md-sidenav>
    <md-content flex layout-padding>
      <div layout="column" layout-fill layout-align="top center">
        <p>
        The left sidenav will 'lock open' on a medium (>=960px wide) device.
        </p>
        <div layout="column" sm-layout="column" flex>
          <form id="frmCadastre">
            <ul>
              <md-input-container>
                <label>ID:</label>
                <input type="text" id="txtID"/>
              </md-input-container>
              <md-input-container>
                <label>Name:</label>
                <input type="text" id="txtName"/>
              </md-input-container>
              <md-input-container>
                <label>Date of Birth:</label>
                <input type="text" id="txtDoB"/>
              </md-input-container>
              <md-input-container>
                <label>Group:</label>
                <input type="text" id="txtGroup"/>
              </md-input-container>
              <md-input-container>
                <label>Schedule:</label>
                <input type="text" id="txtSchedule"/>
              </md-input-container>
              <md-button>
                <input type="submit" value="Save" aria-label="Save" id="btnSave"/>
              </md-button>
            </ul>
          </form>
      </div>
      <div>
        <table id="tblList"></table>
      </div>
      <!-- <div ng-controller="AppCtrl" ng-cloak>
        <md-content>
          <md-list>
            <md-subheader class="md-no-sticky">Children</md-subheader>
            <md-list-item ng-repeat="chi in tbChildren">
              <input type="text" ng-model="chi.Name">
            </md-list-item>
          </md-list>
        </md-content>
      </div> -->
    </div>
  </section>
</div>
<div layout="row" layout-align="right">
<md-button class="md-fab md-accent md-hue-2" aria-label="Add">
        +
    </md-button>
</div>

<!-- jQuery Library and code -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  <script type="text/javascript">

$(function(){
  var operation = "A"; //"A"=Adding; "E"=Editing

  var selected_index = -1; //Index of the selected list item

  var tbChildren = localStorage.getItem("tbChildren");//Retrieve the stored data

  tbChildren = JSON.parse(tbChildren); //Converts string to object

  if(tbChildren == null) //If there is no data, initialize an empty array
    tbChildren = [];

  function Add(){
    var child = JSON.stringify({
      ID    : $("#txtID").val(),
      Name  : $("#txtName").val(),
      DoB   : $("#txtDoB").val(),
      Group : $("#txtGroup").val(),
      Schedule : $("#txtSchedule").val()
    });
    tbChildren.push(child);
    localStorage.setItem("tbChildren", JSON.stringify(tbChildren));
    // alert("The data was saved.");
    return true;
  }

  function Edit(){
    tbChildren[selected_index] = JSON.stringify({
        ID    : $("#txtID").val(),
        Name  : $("#txtName").val(),
        DoB   : $("#txtDoB").val(),
        Group : $("#txtGroup").val(),
        Schedule : $("#txtSchedule").val()
      });//Alter the selected item on the table
    localStorage.setItem("tbChildren", JSON.stringify(tbChildren));
    // alert("The data was edited.")
    operation = "A"; //Return to default value
    return true;
  }

  function Delete(){
    tbChildren.splice(selected_index, 1);
    localStorage.setItem("tbChildren", JSON.stringify(tbChildren));
    // alert("Client deleted.");
  }

  function List(){    
    $("#tblList").html("");
    $("#tblList").html(
      "<thead>"+
      " <tr>"+
      " <th>Update</th>"+
      " <th>Delete</th>"+
      " <th>ID</th>"+
      " <th>Name</th>"+
      " <th>Date of Birth</th>"+
      " <th>Group</th>"+
      " <th>Schedule</th>"+
      " </tr>"+
      "</thead>"+
      "<tbody>"+
      "</tbody>"
      );
    for(var i in tbChildren){
      var chi = JSON.parse(tbChildren[i]);
        $("#tblList tbody").append("<tr>"+
                     "  <td><img src='edit.png' height=20 width=20 alt='Edit"+i+"' class='btnEdit'/></td>" +
                     "  <td><img src='delete.png' height=20 width=20 alt='Delete"+i+"' class='btnDelete'/></td>" + 
                     "  <td>"+chi.ID+"</td>" + 
                     "  <td>"+chi.Name+"</td>" + 
                     "  <td>"+chi.DoB+"</td>" +
                     "  <td>"+chi.Group+"</td>" + 
                     "  <td>"+chi.Schedule+"</td>" + 
                       "</tr>");
    }
  }

  $("#frmCadastre").bind("submit",function(){   
    if(operation == "A")
      return Add();
    else
      return Edit();
  });

  List();

  $(".btnEdit").live("click", function(){

    operation = "E";
    selected_index = parseInt($(this).attr("alt").replace("Edit", ""));
    
    var chi = JSON.parse(tbChildren[selected_index]);
    $("#txtID").val(chi.ID);
    $("#txtName").val(chi.Name);
    $("txtDoB").val(chi.DoB);
    $("#txtGroup").val(chi.Group);
    $("#txtSchedule").val(chi.Schedule);
    $("#txtID").attr("readonly","readonly");
    $("#txtName").focus();
  });

  $(".btnDelete").live("click", function(){
    selected_index = parseInt($(this).attr("alt").replace("Delete", ""));
    Delete();
    List();
  });
});

  </script>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    angular.module('TestApp', ['ngMaterial'])
  .controller('AppCtrl', function ($scope, $timeout, $mdSidenav, $log) {
    $scope.toggleLeft = buildDelayedToggler('left');
    /**
     * Supplies a function that will continue to operate until the
     * time is up.
     */
    function debounce(func, wait, context) {
      var timer;
      return function debounced() {
        var context = $scope,
            args = Array.prototype.slice.call(arguments);
        $timeout.cancel(timer);
        timer = $timeout(function() {
          timer = undefined;
          func.apply(context, args);
        }, wait || 10);
      };
    }
    /**
     * Build handler to open/close a SideNav; when animation finishes
     * report completion in console
     */
    function buildDelayedToggler(navID) {
      return debounce(function() {
        $mdSidenav(navID)
          .toggle()
          /*.then(function () {
            $log.debug("toggle " + navID + " is done");
          });*/
      }, 200);
    }
    function buildToggler(navID) {
      return function() {
        $mdSidenav(navID)
          .toggle()
          /*.then(function () {
            $log.debug("toggle " + navID + " is done");
          });*/
      }
    }
  })
</script>
  
</body>
</html>