<html lang="en" >
<head>
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
</head>
<body ng-app="TestApp" ng-cloak>
  <!--
    Your HTML content here
  -->  
  <div layout="row" flex ng-controller="AppCtrl" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="toggleLeft()" aria-label="Settings">
          <i class="material-icons">menu</i>
        </md-button>
        <h2>
          <span>Dashboard</span>
        </h2>
        <span style="width: 200px;"></span>
        &nbsp
        <span >
          <label>Username:</label>
          &nbsp
          <input type="text" style="width:125px;" />
          &nbsp
          <label>Password:</label>
          &nbsp
          <input type="password" style="width:125px;" />
        </span>
        </md-input-container>
      </div>
    </md-toolbar>
  </div>

  <div ng-controller="AppCtrl" flex layout="column" style="height:600px;" ng-cloak>
    <section layout="row" >
      <span style="height:55px;"></span>
      <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-content ng-controller="AppCtrl" ng-cloak>
          <md-list ng-cloak>
            <md-subheader class="md-no-sticky">Options</md-subheader>
            <md-list-item ng-click="navigateTo('Locations', $event)">
              <p>Location</p>
            </md-list-item>
              <md-list-item ng-click="navigateTo('Rooms', $event)">
              <p>Rooms</p>
            </md-list-item>
              <md-list-item ng-click="navigateTo('Groups', $event)">
              <p>Groups</p>
            </md-list-item>
              <md-list-item ng-click="navigateTo('Children', $event)">
              <p>Child</p>
            </md-list-item>
            <md-divider></md-divider>
          </md-list>
          <p hide-md show-gt-md>
            This sidenav is locked open on your device. To go back to the default behavior,
            narrow your display.
          </p>
        </md-content>
      </md-sidenav>
      <md-content layout-padding>
        <div layout="column" layout-fill layout-align="top center">
          <div layout="column" sm-layout="column">
            <form id="frmCadastre">
              <ul>
                <md-input-container>
                  <label>ID:</label>
                  <input type="text" id="txtID"/>
                </md-input-container>
                <md-input-container>
                  <label>Name:</label>
                  <input type="text" id="txtName"/>
                </md-input-container>
              </ul>
              <ul>  
                <md-input-container>
                  <label>Date of Birth:</label>
                  <input type="text" id="txtDoB"/>
                </md-input-container>
                <md-input-container>
                  <label>Group:</label>
                  <input type="text" id="txtGroup"/>
                </md-input-container>
              </ul>
              <ul>  
                <md-input-container>
                  <label>Schedule:</label>
                  <input type="text" id="txtSchedule"/>
                </md-input-container>
                <span>
                  <input type="submit" class="md-raised md-primary" value="Save" aria-label="Save" id="btnSave"/>
                </span>
              </ul>
            </form>
          </div>
          <div>
            <table id="tblList"></table>
          </div>
          <!-- <div ng-controller="AppCtrl" ng-cloak>
            <md-content>
              <md-list>
                <md-subheader class="md-no-sticky">Children</md-subheader>
                <md-list-item ng-repeat="chi in tbChildren">
                  <input type="text" ng-model="chi.Name">
                </md-list-item>
              </md-list>
            </md-content>
          </div> -->
        </div>
        <div layout="row">
          <span style="width: 500px"></span>
          <span layout="row" layout-align="right">
            <md-button class="md-fab md-accent md-hue-2" aria-label="Add">
              +
            </md-button>
          </span>
        </div>
      </md-content>
    </section>
  </div>


<!-- jQuery Library and code -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  <script type="text/javascript">

$(function(){
  var operation = "A"; //"A"=Adding; "E"=Editing

  var selected_index = -1; //Index of the selected list item

  var tbChildren = localStorage.getItem("tbChildren");//Retrieve the stored data

  tbChildren = JSON.parse(tbChildren); //Converts string to object

  if(tbChildren == null) //If there is no data, initialize an empty array
    tbChildren = [];

  function Add(){
    var child = JSON.stringify({
      ID    : $("#txtID").val(),
      Name  : $("#txtName").val(),
      DoB   : $("#txtDoB").val(),
      Group : $("#txtGroup").val(),
      Schedule : $("#txtSchedule").val()
    });
    tbChildren.push(child);
    localStorage.setItem("tbChildren", JSON.stringify(tbChildren));
    // alert("The data was saved.");
    return true;
  }

  function Edit(){
    tbChildren[selected_index] = JSON.stringify({
        ID    : $("#txtID").val(),
        Name  : $("#txtName").val(),
        DoB   : $("#txtDoB").val(),
        Group : $("#txtGroup").val(),
        Schedule : $("#txtSchedule").val()
      });//Alter the selected item on the table
    localStorage.setItem("tbChildren", JSON.stringify(tbChildren));
    // alert("The data was edited.")
    operation = "A"; //Return to default value
    return true;
  }

  function Delete(){
    tbChildren.splice(selected_index, 1);
    localStorage.setItem("tbChildren", JSON.stringify(tbChildren));
    // alert("Client deleted.");
  }

  function List(){    
    $("#tblList").html("");
    $("#tblList").html(
      "<thead>"+
      " <tr>"+
      " <th></th>"+
      " <th></th>"+
      " <th>ID</th>"+
      " <th>Full Name</th>"+
      " <th>D.o.B.</th>"+
      " <th>Group</th>"+
      " <th>Schedule</th>"+
      " </tr>"+
      "</thead>"+
      "<tbody>"+
      "</tbody>"
      );
    for(var i in tbChildren){
      var chi = JSON.parse(tbChildren[i]);
        $("#tblList tbody").append("<tr>"+
                     "  <td><img src='edit.png' height=20 width=20 alt='Edit"+i+"' class='btnEdit'/></td>" +
                     "  <td><img src='delete.png' height=20 width=20 alt='Delete"+i+"' class='btnDelete'/></td>" + 
                     "  <td>"+chi.ID+"</td>" + 
                     "  <td>"+chi.Name+"</td>" + 
                     "  <td>"+chi.DoB+"</td>" +
                     "  <td>"+chi.Group+"</td>" + 
                     "  <td>"+chi.Schedule+"</td>" + 
                       "</tr>");
    }
  }

  $("#frmCadastre").bind("submit",function(){   
    if(operation == "A")
      return Add();
    else
      return Edit();
  });

  List();

  $(".btnEdit").live("click", function(){

    operation = "E";
    selected_index = parseInt($(this).attr("alt").replace("Edit", ""));
    
    var chi = JSON.parse(tbChildren[selected_index]);
    $("#txtID").val(chi.ID);
    $("#txtName").val(chi.Name);
    $("#txtDoB").val(chi.DoB);
    $("#txtGroup").val(chi.Group);
    $("#txtSchedule").val(chi.Schedule);
    $("#txtID").attr("readonly","readonly");
    $("#txtName").focus();
  });

  $(".btnDelete").live("click", function(){
    selected_index = parseInt($(this).attr("alt").replace("Delete", ""));
    Delete();
    List();
  });
});

  </script>
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript">    
    /**
     * You must include the dependency on 'ngMaterial' 
     */
    angular.module('TestApp', ['ngMaterial'])
  .controller('AppCtrl', function ($scope, $timeout, $mdSidenav, $log, $mdDialog) {
    $scope.toggleLeft = buildDelayedToggler('left');
    /**
     * Supplies a function that will continue to operate until the
     * time is up.
     */
    function debounce(func, wait, context) {
      var timer;
      return function debounced() {
        var context = $scope,
            args = Array.prototype.slice.call(arguments);
        $timeout.cancel(timer);
        timer = $timeout(function() {
          timer = undefined;
          func.apply(context, args);
        }, wait || 10);
      };
    }
    /**
     * Build handler to open/close a SideNav; when animation finishes
     * report completion in console
     */
    function buildDelayedToggler(navID) {
      return debounce(function() {
        $mdSidenav(navID)
          .toggle()
          /*.then(function () {
            $log.debug("toggle " + navID + " is done");
          });*/
      }, 200);
    }
    function buildToggler(navID) {
      return function() {
        $mdSidenav(navID)
          .toggle()
          /*.then(function () {
            $log.debug("toggle " + navID + " is done");
          });*/
      }
    }

    $scope.navigateTo = function(to, event) {
    $mdDialog.show(
      $mdDialog.alert()
        .title('Navigating')
        .textContent('Imagine being taken to ' + to)
        .ariaLabel('Navigation demo')
        .ok('Neat!')
        .targetEvent(event)
      );
    };
  })
</script>
  
</body>
</html>